/*
 * Empty Stylesheet file.
 */


    
    @font-face {
    font-family: 'VTF Redzone Classic';
    src: url('/fonts/LogoTypeGothic.otf');
}

.label {
    -fx-text-fill: #f6f6e9;
    -fx-font-family: "VTF Redzone Classic";
}


